.fixclock {
    position:relative;
    font-family: 'Concert One', cursive;
    font-size: 2.5em;
    text-align: center;
    color: rgb(241, 183, 183);
    margin: 50px 10px;
    font-weight: lighter;
}
.hidden {
    display: none;
}
.main {
    position: relative;
    margin:auto;
    text-align: center;
    color: aliceblue;
}

/* type이 text일때의 속성 전부 꾸미기 */
form input[type="text"] {
    background-color: transparent;
    border:none;
    border-bottom: 3px solid rosybrown;
}
form input[type="text"]:focus {
    outline: none;
    color:rgb(238, 182, 230);
}

form input[type="submit"],
form input[type="button"],
#todo-board li button {
    border-radius: 40px;
    background-color: transparent;
    border: 2px solid rosybrown;
    padding: 5px 10px;
    color: azure;
}

#todo-board {
    display: inline-block;
    text-align: center;
    list-style: none;
}

#todo-board li {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 1.3em;
    font-weight: lighter;
    clear: both;
    margin-top: 10px;
}

#todo-board > li button {
    float:right;
    font-size: x-small;
}

#title {
    font-size: 2em;
    font-weight: lighter;
    font-family: 'East Sea Dokdo', cursive;
}


@media ( max-width: 768px ){
    .fixclock {
        position: relative;
        font-size: 1.2em;
    }
    #login-form, #todo-form, #todo-board {
        position: relative;
        margin:0px;
        text-align: center;
        text-align: center;
        color: aliceblue;
    }
}