html {
	height: 100%;
}

.hidden {
    display: none;
}

#clock {
    font-family: 'Concert One', cursive;
    text-align: center;
    border: 3px solid rgb(226, 155, 155);
    margin: 150px 200px;
    border-radius: 40%;
    color: rosybrown;
    font-size: 3.5em;
    font-weight: lighter;
}

.main {
    margin: 100px 120px;
    text-align: center;
    text-align: center;
    color: aliceblue;
}

/* type이text일때의 속성 전부 꾸미기 */
form input[type="text"] {
    background-color: transparent;
    border:none;
    border-bottom: 3px solid rosybrown;
}
form input[type="text"]:focus {
    outline: none;
    color:blanchedalmond;
}

form input[type="submit"],
form input[type="button"],
#todo-board li button {
    border-radius: 40px;
    background-color: transparent;
    border: 2px solid rosybrown;
    padding: 5px 10px;
    color: azure;
}
form input[type="submit"]:hover,
form input[type="button"]:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color:white;
    font-weight: bold;
}

#todo-board {
    list-style: none;
    margin-right: 50px;
}

#todo-board li {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 1.2em;
    font-weight: lighter;
    clear: both;
    margin-top: 10px;
}

#todo-board > li button {
    float:right;
    font-size: x-small;
}

#title {
    font-size: 2.5em;
    font-weight: lighter;
    font-family: 'East Sea Dokdo', cursive;
}


/* 반응형처럼 모바일크기 만들기 */
@media ( max-width: 768px ) {
    #clock {
        font-family: 'Concert One', cursive;
        border: none;
        text-align: center;
        color: rosybrown;
        font-size: 1.2em;
        font-weight: lighter;
    }
    #title {
        font-size: xx-small;
        font-weight: lighter;
    }
    #todo-board li {
        font-family: 'East Sea Dokdo', cursive;
        font-size: 0.5em;
        font-weight: lighter;
        clear: both;
        margin-top: 5px;
    }
    form input[type="submit"],
    form input[type="button"],
    #todo-board li button {
    border-radius: 40px;
    background-color: transparent;
    border: 0.5px solid rosybrown;
    color: azure;
}
    #todo-board > li button {
        float:right;
        font-size:xx-small;
    }
}